<footer id="footer" class="padding-large">
    <div class="container">
        <div class="row d-flex flex-wrap justify-content-between">
            <!-- Logo Section -->
            <div class="col-sm-6 col-lg-4">
                <div class="footer-item item-001">
                    <!-- Corrected image path -->
                    <img src="~/Content/images/main-logo.png" alt="logo">
                </div>
            </div>

            <!-- About Section -->
            <div class="col-sm-6 col-lg-2">
                <div class="footer-item item-002 content-light">
                    <h4 class="widget-title">About</h4>
                    <ul class="footer-menu list-unstyled text-uppercase">
                        <li><a href="#">About us</a></li>
                        <li><a href="#">Features</a></li>
                        <li><a href="#">News</a></li>
                    </ul>
                </div>
            </div>

            <!-- Company Section -->
            <div class="col-sm-6 col-lg-2">
                <div class="footer-item item-003 content-light">
                    <h4 class="widget-title">Company</h4>
                    <ul class="footer-menu list-unstyled text-uppercase">
                        <li><a href="#">Cryptocode</a></li>
                        <li><a href="#">Security</a></li>
                        <li><a href="#">Rankings</a></li>
                    </ul>
                </div>
            </div>

            <!-- Support Section -->
            <div class="col-sm-6 col-lg-2">
                <div class="footer-item item-004 content-light">
                    <h4 class="widget-title">Support</h4>
                    <ul class="footer-menu list-unstyled text-uppercase">
                        <li><a href="#">FAQs</a></li>
                        <li><a href="#">Support</a></li>
                        <li><a href="#">Contact us</a></li>
                    </ul>
                </div>
            </div>

            <!-- Social Links Section -->
            <div class="col-sm-6 col-lg-2">
                <div class="footer-item item-005 content-light">
                    <h4 class="widget-title">Social</h4>
                    <ul class="footer-menu social-links list-unstyled d-flex">
                        <li class="border-set-thin border-rounded-10">
                            <a href="#"><i class="icon icon-facebook"></i></a>
                        </li>
                        <li class="border-set-thin border-rounded-10">
                            <a href="#"><i class="icon icon-twitter"></i></a>
                        </li>
                        <li class="border-set-thin border-rounded-10">
                            <a href="#"><i class="icon icon-instagram"></i></a>
                        </li>
                        <li class="border-set-thin border-rounded-10">
                            <a href="#"><i class="icon icon-linkedin"></i></a>
                        </li>
                        <li class="border-set-thin border-rounded-10">
                            <a href="#"><i class="icon icon-youtube"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>