<div class="container-fluid">
    <div class="main-logo">
        <a href="index.html">
            <!-- Corrected logo path -->
            <img src="~/Content/images/main-logo.png" alt="logo">
        </a>
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
            aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
        <!-- Ensure Iconify script is included -->
        <iconify-icon icon="system-uicons:menu-hamburger" class="hamburger-menu"></iconify-icon>
    </button>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title text-white" id="offcanvasNavbarLabel">Menu</h5>
            <button type="button" class="btn-close btn-close-white text-reset" data-bs-dismiss="offcanvas"
                    aria-label="Close"></button>
        </div>
        <div class="offcanvas-body justify-content-lg-between">
            <div class="main-menu text-center d-lg-flex align-items-center ">
                <ul class="menu-list list-unstyled d-lg-flex content-light m-0">
                    <li class="menu-item text-uppercase">
                        <a class="fw-bold" href="index.html">Home</a>
                    </li>
                    <li class="menu-item text-uppercase">
                        <a class="fw-bold" href="about.html">About</a>
                    </li>
                    <li class="menu-item text-uppercase">
                        <a class="fw-bold" href="blog.html">Blog</a>
                    </li>
                    <li class="menu-item text-uppercase">
                        <a class="fw-bold" href="services.html">Service</a>
                    </li>
                    <li class="menu-item text-uppercase">
                        <a class="fw-bold" href="contact.html">Contact</a>
                    </li>
                </ul>
            </div>
            <div class="btn-wrap d-md-flex">
                <a href="#" class="btn btn-normal btn-medium align-self-center text-uppercase btn-rounded login-btn" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Log In
                </a>
                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="tabs-listing mt-4">
                                    <nav>
                                        <div class="nav nav-tabs d-flex justify-content-center border-0" id="nav-tab" role="tablist">
                                            <button class="btn btn-outline-primary text-uppercase me-3 active" id="nav-sign-in-tab"
                                                    data-bs-toggle="tab" data-bs-target="#nav-sign-in" type="button" role="tab"
                                                    aria-controls="nav-sign-in" aria-selected="true">
                                                Log In
                                            </button>
                                            <button class="btn btn-outline-primary text-uppercase" id="nav-register-tab"
                                                    data-bs-toggle="tab" data-bs-target="#nav-register" type="button" role="tab"
                                                    aria-controls="nav-register" aria-selected="false">
                                                Sign Up
                                            </button>
                                        </div>
                                    </nav>
                                    <div class="tab-content" id="nav-tabContent">
                                        <div class="tab-pane fade active show" id="nav-sign-in" role="tabpanel"
                                             aria-labelledby="nav-sign-in-tab">
                                            <form id="form1" class="form-group flex-wrap p-3 ">
                                                <div class="form-input col-lg-12 my-4">
                                                    <label for="exampleInputEmail1"
                                                           class="form-label fs-6 text-uppercase fw-bold text-black ">
                                                        Email Address
                                                    </label>
                                                    <input type="text" id="exampleInputEmail1" name="email" placeholder="Email"
                                                           class="form-control bg-secondary bg-opacity-10 ps-3">
                                                </div>
                                                <div class="form-input col-lg-12 my-4">
                                                    <label for="inputPassword1"
                                                           class="form-label  fs-6 text-uppercase fw-bold text-black ">Password</label>
                                                    <input type="password" id="inputPassword1" placeholder="Password"
                                                           class="form-control bg-secondary bg-opacity-10 ps-3" aria-describedby="passwordHelpBlock">
                                                    <div id="passwordHelpBlock" class="form-text text-center">
                                                        <a href="#" class=" password">Forgot Password ?</a>
                                                    </div>
                                                </div>
                                                <label class="py-3">
                                                    <input type="checkbox" required="" class="d-inline">
                                                    <span class="label-body text-black">Remember Me</span>
                                                </label>
                                                <div class="d-grid my-3">
                                                    <button class="btn btn-primary btn-lg btn-dark text-uppercase btn-rounded-none fs-6">
                                                        Log In
                                                    </button>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="tab-pane fade" id="nav-register" role="tabpanel"
                                             aria-labelledby="nav-register-tab">
                                            <form id="form2" class="form-group flex-wrap p-3 ">
                                                <div class="form-input col-lg-12 my-4">
                                                    <label for="exampleInputEmail2"
                                                           class="form-label fs-6 text-uppercase fw-bold text-black">
                                                        Email Address
                                                    </label>
                                                    <input type="text" id="exampleInputEmail2" name="email" placeholder="Email"
                                                           class="form-control bg-secondary bg-opacity-10 ps-3">
                                                </div>
                                                <div class="form-input col-lg-12 my-4">
                                                    <label for="inputPassword2"
                                                           class="form-label  fs-6 text-uppercase fw-bold text-black">Password</label>
                                                    <input type="password" id="inputPassword2" placeholder="Password"
                                                           class="form-control bg-secondary bg-opacity-10 ps-3" aria-describedby="passwordHelpBlock">
                                                </div>
                                                <label class="py-3">
                                                    <input type="checkbox" required="" class="d-inline">
                                                    <span class="label-body text-black">
                                                        I agree to the <a href="#"
                                                                          class="text-black password border-bottom">Privacy Policy</a>
                                                    </span>
                                                </label>
                                                <div class="d-grid my-3">
                                                    <button class="btn btn-primary btn-lg btn-dark text-uppercase btn-rounded-none fs-6">
                                                        Sign Up
                                                    </button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <a href="#" class="btn btn-linear btn-medium align-self-center btn-rounded text-uppercase register-btn mt-3 mt-md-0" data-bs-toggle="modal"
                   data-bs-target="#exampleModal2">Register</a>
                <!-- Second Modal -->
                <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="tabs-listing mt-4">
                                    <nav>
                                        <div class="nav nav-tabs d-flex justify-content-center border-0" id="nav-tab2" role="tablist">
                                            <button class="btn btn-outline-primary text-uppercase me-4 " id="nav-sign-in-tab2"
                                                    data-bs-toggle="tab" data-bs-target="#nav-sign-in2" type="button" role="tab"
                                                    aria-controls="nav-sign-in2" aria-selected="false">
                                                Log In
                                            </button>
                                            <button class="btn btn-outline-primary text-uppercase active" id="nav-register-tab2"
                                                    data-bs-toggle="tab" data-bs-target="#nav-register2" type="button" role="tab"
                                                    aria-controls="nav-register2" aria-selected="true">
                                                Sign Up
                                            </button>
                                        </div>
                                    </nav>
                                    <div class="tab-content" id="nav-tabContent1">
                                        <div class="tab-pane fade " id="nav-sign-in2" role="tabpanel"
                                             aria-labelledby="nav-sign-in-tab2">
                                            <form id="form3" class="form-group flex-wrap p-3 ">
                                                <div class="form-input col-lg-12 my-4">
                                                    <label for="exampleInputEmail3"
                                                           class="form-label fs-6 text-uppercase fw-bold text-black">
                                                        Email Address
                                                    </label>
                                                    <input type="text" id="exampleInputEmail3" name="email" placeholder="Email"
                                                           class="form-control bg-secondary bg-opacity-10 ps-3">
                                                </div>
                                                <div class="form-input col-lg-12 my-4">
                                                    <label for="inputPassword3"
                                                           class="form-label  fs-6 text-uppercase fw-bold text-black">Password</label>
                                                    <input type="password" id="inputPassword3" placeholder="Password"
                                                           class="form-control bg-secondary bg-opacity-10 ps-3" aria-describedby="passwordHelpBlock">
                                                    <div id="passwordHelpBlock2" class="form-text text-center">
                                                        <a href="#" class=" password">Forgot Password ?</a>
                                                    </div>
                                                </div>
                                                <label class="py-3">
                                                    <input type="checkbox" required="" class="d-inline">
                                                    <span class="label-body text-black">Remember Me</span>
                                                </label>
                                                <div class="d-grid my-3">
                                                    <button class="btn btn-primary btn-lg btn-dark text-uppercase btn-rounded-none fs-6">
                                                        Log In
                                                    </button>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="tab-pane fade active show" id="nav-register2" role="tabpanel"
                                             aria-labelledby="nav-register-tab2">
                                            <form id="form4" class="form-group flex-wrap p-3 ">
                                                <div class="form-input col-lg-12 my-4">
                                                    <label for="exampleInputEmail4"
                                                           class="form-label fs-6 text-uppercase fw-bold text-black">
                                                        Email Address
                                                    </label>
                                                    <input type="text" id="exampleInputEmail4" name="email" placeholder="Email"
                                                           class="form-control bg-secondary bg-opacity-10 ps-3">
                                                </div>
                                                <div class="form-input col-lg-12 my-4">
                                                    <label for="inputPassword4"
                                                           class="form-label  fs-6 text-uppercase fw-bold text-black">Password</label>
                                                    <input type="password" id="inputPassword4" placeholder="Password"
                                                           class="form-control bg-secondary bg-opacity-10 ps-3" aria-describedby="passwordHelpBlock">
                                                </div>
                                                <label class="py-3">
                                                    <input type="checkbox" required="" class="d-inline">
                                                    <span class="label-body text-black">
                                                        I agree to the <a href="#"
                                                                          class="text-black password border-bottom">Privacy Policy</a>
                                                    </span>
                                                </label>
                                                <div class="d-grid my-3">
                                                    <button class="btn btn-primary btn-lg btn-dark text-uppercase btn-rounded-none fs-6">
                                                        Sign Up
                                                    </button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>